body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background 0.5s ease;
}

body.blue-bg {
    background-color: #87CEEB; /* Azul celeste */
}

body.black-bg {
    background-color: #000000; /* Negro */
}

.toggle-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.lottie-container {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px;
    margin-right: 20px; /* Espacio entre el Lottie y el toggle */
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 38px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e6e6e6;
    transition: .4s;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input:checked + .slider {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(32px);
}

output {
    font-size: 1.2em;
    color: #333;
}

.toggle-container {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: center; /* Centra horizontalmente si el ancho del contenedor es suficiente */
    gap: 20px; /* Espacio entre el toggle y el Lottie, ajusta según sea necesario */
}

/* Estilo para el contenedor de la animación Lottie */
#lottie-container {
    width: 80px;  /* Ajusta el ancho según sea necesario */
    height: 150px; /* Ajusta la altura según sea necesario */
}